<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../assets/home.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="height: 70px">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><img src="../assets/nav-logo.avif" alt="jewelery logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page-section">
      <div class="container">
        <h1 class="display-4">Our Services</h1>
        <p class="lead">
          We offer a variety of services to help you achieve your business
          goals. Here are some of our most popular offerings:
        </p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <div class="card shadow-lg" style="border-radius: 15px">
              <img
                src="../assets/1.png"
                class="card-img-top"
                alt="Service 1"
                style="padding: 10px"
              />
              <div class="card-body">
                <h5 class="card-title">Jewellery</h5>
                <p class="card-text">
                  We are able to offer both machine and specialised hand
                  engraving at Page Fine Jewellery. Machine engraving provides a
                  light, surface engraving suitable for gifts, most trophies,
                  cups, watches and some jewellery pieces.
                </p>
                <a href="#" class="btn btn-custom">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-lg" style="border-radius: 15px">
              <img
                src="../assets/2.jpg"
                class="card-img-top"
                alt="Service 2"
                style="padding: 10px"
              />
              <div class="card-body">
                <h5 class="card-title">Trophies</h5>
                <p class="card-text">
                  We are able to offer both machine and specialised hand
                  engraving at Page Fine Jewellery. Machine engraving provides a
                  light, surface engraving suitable for gifts, most trophies,
                  cups, watches and some jewellery pieces.
                </p>
                <a href="#" class="btn btn-custom">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-lg" style="border-radius: 15px">
              <img
                src="../assets/3.jpg"
                class="card-img-top"
                alt="Service 3"
                style="padding: 10px"
              />
              <div class="card-body">
                <h5 class="card-title">Tankards and Hip Flasks</h5>
                <p class="card-text">
                  We are able to offer both machine and specialised hand
                  engraving at Page Fine Jewellery. Machine engraving provides a
                  light, surface engraving suitable for gifts, most trophies,
                  cups, watches and some jewellery pieces.
                </p>
                <a href="#" class="btn btn-custom">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>© 2025 My Website</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
