<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page Not Found!</title>
  </head>
  <body>
    <img
      src="https://media1.thehungryjpeg.com/thumbs2/ori_3748983_b7d22n6sceatn4wvzabyzc5wa62l3au2oi52y8t5_404-error-vector-error-404-page-not-found-creative-template-problem-disconnect-concept-illustration.jpg"
      alt="404 Error"
      style="width: 100%; height: 99.5vh; object-fit: cover"
    />
  </body>
</html>
